node_modules/

uploads/rubros/**.jpg
uploads/rubros/**.jpeg
uploads/rubros/**.png
uploads/rubros/**.gif

uploads/productos/**.jpg
uploads/productos/**.jpeg
uploads/productos/**.png
uploads/productos/**.gif

uploads/usuarios/**.jpg
uploads/usuarios/**.jpeg
uploads/usuarios/**.png
uploads/usuarios/**.gif

uploads/resenas/**.jpg
uploads/resenas/**.jpeg
uploads/resenas/**.png
uploads/resenas/**.gif

uploads/noticias/**.jpg
uploads/noticias/**.jpeg
uploads/noticias/**.png
uploads/noticias/**.gif